@import "./colours";
@import "./mixins";

#full-archive {
	list-style: none;
	margin: 0;
	padding: 0;

	.archive-short-item {
		@extend .body-padding;
		padding-top: 0.5em;
		padding-bottom: 0.5em;

		&:nth-child(2n) {
			background: $colour-highlight;
			background: var(--colour-highlight);
		}

		a {
			display: block;
			@include header-link;
		}
	}
}

#page-archive {
	.archive-item {
		border-top: 1px solid $colour-highlight;
		border-top-color: var(--colour-highlight);
	}

	.continue-reading {
		@extend .body-padding;

		display: block;
		padding-top: 1em;
		padding-bottom: 1.5em;
		margin-top: -1em;
	}
}

#pagination-container {
	display: flex;
	justify-content: center;

	> * {
		flex: 0 0 auto;
		margin: 0 0.3em;
	}
}

.pagination-link {
	&.-disabled {
		text-decoration: none;
		color: $colour-link-disabled;
		color: var(--colour-link-disabled);
		cursor: default;
	}
}

#pagination {
	list-style: none;
	padding: 0;
	display: flex;

	> .pagination-item {
		flex: 0 0 auto;
		padding: 0 0.2em;

		&.-current > a {
			@include active-link;
		}
	}
}
