@import "./colours";
@import "./mixins";

#full-archive {
	list-style: none;
	margin: 0;
	padding: 0;

	.archive-short-item {
		padding: 5px 50px;

		&:nth-child(2n -1) {
			background: $list-alt-bg-colour;
		}
	}
}

#page-archive {
	.archive-item {
		border-top: 1px solid $divider-colour;
	}
}

#pagination-container {
	display: flex;
	justify-content: center;

	> * {
		flex: 0 0 auto;
		margin: 0 0.3em;
	}
}

.pagination-link {
	&.-disabled {
		text-decoration: none;
		color: $link-disabled-colour;
		cursor: default;
	}
}

#pagination {
	list-style: none;
	padding: 0;
	display: flex;

	> .pagination-item {
		flex: 0 0 auto;
		padding: 0 0.2em;

		&.-current > a {
			@include active-link;
		}
	}
}
