body {
	background: repeat url("../img/groovepaper.png") fixed;
	margin: 0;
	padding: 0;
}

#main {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	box-shadow: 5px 5px 10px #888;
	background: white;
	color: rgb(6, 13, 26);
}

#page-content {
	margin: 10px 0 15px;
}

p,
h3,
h4,
h5,
h6 {
	padding: 0 50px;
}

h1 {
	padding: 0 40px;
}

h2 {
	padding: 0 45px;
}

// raw preformatted stuff
pre:not(.highlight) {
	padding: 2em 50px;
	overflow: auto;
	white-space: pre-wrap;
}

figure.highlight,
div.highlight {
	margin: 2em 0;
	padding: 0 50px;
	overflow: auto;

	pre {
		margin: 0;
		padding: 0;
		white-space: pre;
	}
}

p:last-child {
	margin-bottom: 1.5em;
}
