body {
	background: repeat url("/assets/img/groovepaper.png") fixed;
}

#main {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	box-shadow: 5px 5px 10px #888;
	background: rgb(252, 253, 255);
	color: rgb(6, 13, 26);
}

#page-content {
	padding: 0 50px;
	margin: 10px 0 15px;
}
