@import "./colours";

// raw preformatted stuff
pre:not(.highlight) {
	background: $colour-code-bg;
	background: var(--colour-code-bg);
}

.rouge-table {
	td {
		padding: 1em 0;
	}

	$code-padding: 0.4em;

	.gutter {
		// background-color: $colour-code-highlight;
		// background-color: var(--colour-code-highlight);
		border-right: 1px solid $colour-code-highlight;
		border-right-color: var(--colour-code-highlight);
		padding-right: $code-padding;
	}

	.code {
		padding-left: $code-padding;
	}
}

code.highlight {
	padding: 0 0.3em;
}
