@import "./colours";

.rouge-table {
	td {
		padding: 1em 0;
	}

	$code-padding: 0.4em;

	.gutter {
		border-right: 1px solid darken($solarized-bg-colour, 10%);
		padding-right: $code-padding;
	}

	.code {
		padding-left: $code-padding;
	}
}

code.highlight {
	padding: 0 0.3em;
}
