$link-colour: rgb(0, 61, 94);
$link-active-colour: rgb(0, 163, 191);
$link-disabled-colour: #aaa;

$body-text-colour:rgb(6, 13, 26);
$body-bg-colour: white;

$list-alt-bg-colour: rgb(241, 246, 247);

$divider-colour: #ddd;

$solarized-bg-colour: #fdf6e3;
