@import "./breakpoints";
@import "./colours";
@import "./mixins";
// cache bust

html {
	background: none;
}

body,
#main {
	// Fallback
	background: $colour-bg fixed repeat;
	color: $colour-text;
	// Modern
	background-color: var(--colour-bg);
	color: var(--colour-text);
}

a {
	&,
	&:visited {
		color: $colour-link;
		color: var(--colour-link);
	}

	&:hover,
	&:active {
		color: $colour-link-active;
		color: var(--colour-link-active);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $colour-heading;
	color: var(--colour-heading);

	> a {
		@include header-link;
	}
}

@media only screen and (min-width: $bp-phone) {
	body {
		& {
			background-image: asset_url("groovepaper.png");
		}

		@media (prefers-color-scheme: dark) {
			background-image: asset_url("black_paper.png");
		}

		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			& {
				background-image: asset_url("groovepaper@2x.png");
			}

			@media (prefers-color-scheme: dark) {
				background-image: asset_url("black_paper@2x.png");
			}
		}
	}
}
