@import "./colours";

a,
a:visited {
	color: $link-colour;
}

a:hover {
	color: $link-active-colour;
}

hr {
	margin: 20px 0;
}


.print-only {
	display: none;
}

@media print {
	.print-only {
		display: initial;
	}

	.no-print {
		display: none;
	}
}
