@import "./breakpoints";
@import "./colours";
@import "./mixins";

#bio {
	text-align: justify;
}

dt {
	font-weight: 500;
	margin: {
		left: -0.1rem;
		top: 0.25em;
		right: 0;
		bottom: 0.2em;
	}

	a {
		display: block;
	}
}

dd {
	margin: 0;
	padding-left: 0.1rem;
}

@supports (display: grid) {
	@media only screen and (min-width: $bp-phone) {
		// TODO: This should be imported from somewhere
		$hz-padding: 3.125rem;

		#projects {
			& {
				display: grid;
				grid-template-columns: 25% auto;
				// padding: 0;
			}

			a {
				@include header-link;
			}

			dt,
			dd {
				margin: 0;
				padding: 0.5em;
			}

			dt {
				text-align: right;
				// padding-left: $hz-padding;
			}

			dd {
				// padding-right: $hz-padding;
			}

			& > * {
				&:nth-child(4n),
				&:nth-child(4n-1) {
					background: $colour-highlight;
					background: var(--colour-highlight);
				}
			}
		}
	}
}
