@import "./colours";

$tag-size: 1.2rem;
$arrow-size: 0.6rem;
$hole-size: 0.2rem;

$padding: 0.5rem;

$tap-target: 0.3rem;
$mobile-tap-target: 0.5rem;

$mobile-fade-width: 1.2rem;

.tag-bar {
	& {
		list-style: none;
		padding: 0;
		margin-left: -$tap-target;
	}

	> .tag {
		display: inline-block;
	}
}

// Use device-width instead of width to try and detect phones as the sideways
//  scrolling tag bar looks terrible on desktops
@media only screen and (max-device-width: $bp-phone) {
	.tag-bar {
		white-space: nowrap;
		overflow: auto;
		padding: 0 ($mobile-fade-width - $tap-target);
		margin: 0;
	}

	.tag-bar-holder {
		padding: 0;
		position: relative;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			width: $mobile-fade-width;
			z-index: 100;
		}

		&::before {
			left: 0;
			background: linear-gradient(
				90deg,
				$colour-bg 0%,
				$colour-bg 20%,
				transparent 100%
			);
			background: linear-gradient(
				90deg,
				var(--colour-bg) 0%,
				var(--colour-bg) 20%,
				transparent 100%
			);
		}

		&::after {
			right: 0;
			background: linear-gradient(
				90deg,
				transparent 0%,
				$colour-bg 80%,
				$colour-bg 100%
			);
			background: linear-gradient(
				90deg,
				transparent 0%,
				var(--colour-bg) 80%,
				var(--colour-bg) 100%
			);
		}
	}
}

.post-tag {
	&,
	&:visited,
	&:hover {
		padding: $tap-target;
		display: block;
		text-decoration: none;
		color: $colour-tag-text;
		color: var(--colour-tag-text);
	}

	> .tag {
		display: block;

		// Set the visible height of the tag
		line-height: $tag-size;

		padding: 0 $padding 0 $padding - 0.1rem + $arrow-size;

		font-size: 0.9rem;

		background: $colour-tag-bg;
		background: var(--colour-tag-bg);

		position: relative;
	}

	> .tag::before {
		$arrow-sides: $tag-size / 2;
		content: "";

		position: absolute;
		top: 0;
		left: 0;

		border-style: solid;

		border-color: $colour-bg;
		border-color: var(--colour-bg);
		border-right-color: $colour-tag-bg;
		border-right-color: var(--colour-tag-bg);

		border-left-width: 0;
		border-right-width: $arrow-size;
		border-top-width: $arrow-sides;
		border-bottom-width: $arrow-sides;
	}

	> .tag::after {
		content: "";

		position: absolute;
		top: 50%;
		left: $arrow-size;
		transform: translate(-50%, -50%);

		background: $colour-bg;
		background: var(--colour-bg);

		border-radius: 100%;
		width: $hole-size;
		height: $hole-size;
	}

	&:hover {
		> .tag {
			background: $colour-tag-hover-bg;
			background: var(--colour-tag-hover-bg);
		}

		> .tag::before {
			border-right-color: $colour-tag-hover-bg;
			border-right-color: var(--colour-tag-hover-bg);
		}
	}
}
