{% if page.breadcrumb %}
    <nav aria-label="breadcrumbs" id="breadcrumbs">
        <ol class="crumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
            {% assign depth = 1 %}
            {%
                include breadcrumb_item.html
                current=false
                depth=depth
                path='/'
                title='Home'
            %}
            {% if page.in_blog %}
                {% assign depth = depth | plus: 1 %}
                {%
                    include breadcrumb_item.html
                    current=false
                    depth=depth
                    path='/blog/'
                    title='Blog'
                %}
            {% endif %}
            {% for category in page.categories %}
                {% assign depth = depth | plus: 1 %}
                {% capture title %}{% include nicename.html kind="cats" slug=category %}{% endcapture %}
                {% assign path = "/blog/" | append: category | append: "/" %}
                {%
                    include breadcrumb_item.html
                    current=false
                    depth=depth
                    path=path
                    title=title
                %}
            {% endfor %}
            {% assign title = page.title %}
            {% if page.breadcrumb != true %}
                {% assign title = page.breadcrumb %}
            {% endif %}
            {% if page.nicename_lookup and page.autopages %}
                {% capture title -%}
                    {% include nicename_title.html kind=page.nicename_lookup slug=page.autopages.display_name title=title %}
                {%- endcapture %}
            {% endif %}
            {% assign depth = depth | plus: 1 %}
            {%
                include breadcrumb_item.html
                current=true
                depth=depth
                path=page.url
                title=title
            %}
        </ol>
    </nav>
{% endif %}
