{% if page.breadcrumb %}
    <nav aria-label="breadcrumbs" id="breadcrumbs">
        <ol class="crumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
            {% assign depth = 1 %}
            <li class="crumb" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a href="{{ site.baseurl }}/" itemscope itemtype="https://schema.org/Thing" itemprop="item">
                    {{-}}
                    <span itemprop="name">Home</span>
                    {{-}}
                </a>
                <meta itemprop="position" content="{{ depth }}"/>
            </li>
            {% if page.in_blog %}
                {% assign depth = depth | plus: 1 %}
                <li class="crumb" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="{{ site.baseurl }}/blog/" itemscope itemtype="https://schema.org/Thing" itemprop="item">
                        {{-}}
                        <span itemprop="name">Blog</span>
                        {{-}}
                    </a>
                    <meta itemprop="position" content="{{ depth }}"/>
                </li>
            {% endif %}
            {% for category in page.categories %}
                {% assign depth = depth | plus: 1 %}
                <li class="crumb" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="{{ site.baseurl }}/blog/{{ category }}/" itemscope itemtype="https://schema.org/Thing" itemprop="item">
                        {{-}}
                        <span itemprop="name">{% include nicename.html kind="cats" slug=category %}</span>
                        {{-}}
                    </a>
                    <meta itemprop="position" content="{{ depth }}"/>
                </li>
            {% endfor %}
            {% assign title = page.title %}
            {% if page.breadcrumb != true %}
                {% assign title = page.breadcrumb %}
            {% endif %}
            {% if page.nicename_lookup and page.autopages %}
                {% capture title -%}
                    {% include nicename_title.html kind=page.nicename_lookup slug=page.autopages.display_name title=title %}
                {%- endcapture %}
            {% endif %}
            {% assign depth = depth | plus: 1 %}
            <li class="crumb -current" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a href="{{ site.baseurl }}{{ page.url }}" aria-current="page" itemscope itemtype="https://schema.org/Thing" itemprop="item">
                    {{-}}
                    <span itemprop="name">{{ title }}</span>
                    {{-}}
                </a>
                <meta itemprop="position" content="{{ depth }}"/>
            </li>
        </ol>
    </nav>
{% endif %}
