<footer id="page-footer">
	<nav aria-label="footer links">
		<ul id="footer-links">
			{% comment %}
			<li>
				<a href="{{ "/blog/" | absolute_url }}">Blog</a>
			</li>
			{% endcomment %}
			<li>
				<a href="mailto:{{ site.email }}">Email</a>
			</li>
			<li>
				<a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
			</li>
			<li>
				<a href="https://keybase.io/{{ site.keybase_username}}">Keybase</a>
			</li>
			<li>
				<a href="https://github.com/{{ site.github_username }}">GitHub</a>
			</li>
			<li>
				<a href="http://steamcommunity.com/id/{{ site.steam_username }}">Steam</a>
			</li>
		</ul>
	</nav>
</footer>
