{%- assign ye_post = post | default: page -%}
{%- if ye_post.tech -%}
    <div class="post-technology">
    <strong class="label">Tech used:  </strong>
    <ul class="tech">
        {%- for tech_item in ye_post.tech -%}
            {%- assign key = tech_item[0] -%}
            {%- assign version = tech_item[1] | strip -%}
            {%- assign datas = site.data.tech[key] -%}

            <li class="item">
                {%- if datas.url -%}
                    <a href="{{datas.url}}">
                {%- endif -%}

                    {%- if datas.abbr -%}
                        <abbr title="{{ datas.abbr }}">
                    {%- endif -%}

                    {%- if datas.name -%}
                        {{- datas.name -}}
                    {%- else -%}
                        {{- key -}}
                    {%- endif -%}

                    {%- if datas.abbr -%}
                        </abbr>
                    {%- endif -%}

                    {%- unless version == "" -%}
                        {{- " " -}}
                        {{- version -}}
                    {%- endunless -%}

                {%- if datas.url -%}
                    </a>
                {%- endif -%}
            </li>
        {%- endfor -%}
    </ul>
</div>
{%- endif -%}
