hr {
	margin: 20px 0;
}

abbr[title] {
	text-decoration: none;
	border-bottom: 1px dotted $colour-link;
	border-bottom-color: var(--colour-link);
}

.print-only {
	display: none;
}

@media print {
	.print-only {
		display: initial;
	}

	.no-print {
		display: none;
	}
}
