@import "./breakpoints";
@import "./colours";
@import "./mixins";

$hz-padding: 1.2rem;

#bio {
	text-align: justify;
}

#projects {
	dd,
	dt {
		margin: 0;
	}

	dt {
		font-weight: 500;
		border-top: 1px solid $colour-highlight;
		border-top-color: var(--colour-highlight);
	}

	a {
		display: block;
		padding: 0.5rem $hz-padding;
		padding-left: $hz-padding - 0.1rem;
	}

	dd {
		padding: {
			left: $hz-padding + 0.1rem;
			right: $hz-padding;
			top: 0.2rem;
			bottom: 1rem;
		}
	}

	@media only screen and (min-width: $bp-phone) {
		// TODO: This should be imported from somewhere
		$hz-padding: 3.125rem;

		a {
			padding: 0.5rem $hz-padding;
			padding-left: $hz-padding - 0.1rem;
		}

		dd {
			padding: {
				left: $hz-padding + 0.1rem;
				right: $hz-padding;
			}
		}

		@supports (display: grid) {
			& {
				display: grid;
				grid-template-columns: 25% auto;
			}

			a {
				@include header-link;

				padding: 0.5em;
				height: 100%;
			}

			dt {
				text-align: right;
				border: none;
			}

			dd {
				padding: 0.5em;
			}

			& > * {
				&:nth-child(4n),
				&:nth-child(4n-1) {
					background: $colour-highlight;
					background: var(--colour-highlight);
				}
			}
		}
	}
}
