@import "./colours";

#project-description {
	font-size: smaller;
	font-style: italic;
}

#project-header {
	border-bottom: 1px solid $colour-highlight;
	border-bottom-color: var(--colour-highlight);
	padding-bottom: 15px;
}
