{% macro post_links(ye_post) -%}
{%- if ye_post.links -%}
    <div class="post-links">
        <strong class="label">Links: </strong>
        <ul class="links">
            {%- for (key, url) in ye_post.links.items() %}
                {% set datas = bag("links", key) -%}
                <li class="link">
                    <a href="{{ url }}">
                        {%- if datas -%}
                            {{- datas -}}
                        {%- else -%}
                            {{- key -}}
                        {%- endif -%}
                    </a>
                </li>
            {%- endfor %}
        </ul>
    </div>
{%- endif -%}
{% endmacro %}
