{% macro post_tech(ye_post) -%}
{%- if ye_post.tech -%}
    <div class="post-technology">
    <strong class="label">Tech used:  </strong>
    <ul class="tech">
        {%- for (key, version) in ye_post.tech.items() -%}
            {%- set datas = bag("tech", key) -%}

            <li class="item">
                {%- if datas.url -%}
                    <a href="{{datas.url}}">
                {%- endif -%}

                    {%- if datas.abbr -%}
                        <abbr title="{{ datas.abbr }}">
                    {%- endif -%}

                    {%- if datas.name -%}
                        {{- datas.name -}}
                    {%- else -%}
                        {{- key -}}
                    {%- endif -%}

                    {%- if datas.abbr -%}
                        </abbr>
                    {%- endif -%}

                    {%- if version != "" -%}
                        {{- " " -}}
                        {{- version -}}
                    {%- endif -%}

                {%- if datas.url -%}
                    </a>
                {%- endif -%}
            </li>
        {%- endfor -%}
    </ul>
</div>
{%- endif -%}
{%- endmacro %}
