<nav aria-label="breadcrumbs" id="breadcrumbs">
	<ol class="crumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
		{%- for breadcrumb in get_breadcrumbs(this) %}
			<li
				class="crumb{% if breadcrumb.current %} -current{% endif %}"
				itemprop="itemListElement"
				itemscope
				itemtype="https://schema.org/ListItem"
				{%- if breadcrumb.current %}
				aria-current="page"
				{%- endif -%}
			>
				<a href="{{ breadcrumb.url }}" itemprop="item" >
					{#--#}
					<span itemprop="name">
						{%- if breadcrumb.depth == 1 -%}
							<img id="home-icon" role="presentation" src="{{ '/favicon.ico' | asseturl }}">
						{%- endif -%}
						{{- breadcrumb.title -}}
						</span>
					{#--#}
				</a>
				<meta itemprop="position" content="{{ breadcrumb.depth }}"/>
			</li>
		{%- endfor %}
	</ol>
</nav>
