{%- set ye_post = post | default: page -%}
{%- if ye_post.links -%}
    <div class="post-links">
        <strong class="label">Links: </strong>
        <ul class="links">
            {%- for link in ye_post.links -%}
                {%- set key = link[0] -%}
                {%- set url = link[1] -%}
                {%- set datas = site.data.links[key] -%}

                {{" "}}
                <li class="link">
                    <a href="{{url}}">

                        {%- if datas.name -%}
                            {{- datas.name -}}
                        {%- else -%}
                            {{- key -}}
                        {%- endif -%}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
    </div>
{%- endif -%}
