{%- if page.page_title -%}
	{{- page.page_title -}}
{%- elif page.title -%}
	{%- set title = page.title -%}
	{%- if layout.nicename_lookup and page.autopages -%}
		{%- set title -%}
			{%-
				include nicename_title.html
				kind=layout.nicename_lookup
				slug=page.autopages.display_name
				title=page.title
			-%}
		{%- endset -%}
	{%- elif page.collection == "posts" -%}
		{%- set title -%}
			{%- include article_title.html -%}
		{%- endset %}
	{%- endif -%}
	{{- title -}}
	{{- " &mdash; "-}}
	{{- site.title -}}
{%- else -%}
	{{ site.title -}}
{%- endif -%}
