---
---

#main {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	box-shadow: 5px 5px 10px #888;
	background: rgb(252, 253, 255);
	color: rgb(6, 13, 26);
}

#page-content {
	padding: 0 50px;
	margin: 10px 0 15px;
}

#bio {
	text-align: justify;
}

h1 {
	margin-left: -10px;
}

body {
	font: 13px Helvetica, Arial, sans-serif;
	background: repeat url("/assets/img/groovepaper.png") fixed;
}

#proj {
	margin-top: 15px;
}

#projects {
	padding: 0px;
}

#projects:after {
	content: "&nbsp";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}

dl *.alternate {
	background: rgb(241, 246, 247);
}

dt {
	width: 22%;
	clear:both;
	float:left;
	margin: 0px;
	padding: 4px 1% 4px 0px;
	text-align: right;
}

dd {
	width: 76%;
	clear:right;
	float:right;
	margin: 0px;
	padding: 4px 0px 4px 1%;
	text-align: left;
}

#page-footer {
	border-top: 1px solid #EEE;
	padding: 10px 0 15px;
}

#footer-links {
	display: flex;
	list-style: none;
	justify-content: center;

	&, li {
		margin: 0px;
		padding: 0px;
	}

	li + li {
		margin-left: 1.5em;

		&:before {
			display: inline-block;
			transform: rotate(90deg) translate(-0.05em, 0.75em);
			border-right: 0.1em solid currentColor;
			height: 0.5em;
			content: '';
		}
	}
}

a, a:visited {
	color: rgb(0, 61, 94);
}

a:hover {
	color: rgb(0, 163, 191);
}
