{% extends "base.html" %}
{% from "macros/article.html" import article_title %}

{% block content %}
<div aria-labelledby="archive-title" id="page-archive" role="feed">
	<header>
		<h1 id="archive-title">
			{{- this.title -}}
		</h1>

		{% if this.pagination.page == 1 %}
			{{ this.body }}
		{% endif %}
	</header>

	{%- set paginator = this.pagination -%}
	{%- set post_num = (paginator.page - 1) * paginator.per_page -%}

	{%- for post in paginator.items -%}
		{%- set id = post._slug %}
		{%- set excerpt = post.body | helpers.excerpt_html %}
		<article
			itemscope itemtype="https://schema.org/{% block article_type -%}Article{%- endblock article_type %}"
			tabindex="0" id="{{ id }}" class="archive-item -{{ this._model }}"
			aria-labelledby="{{ id }}-title" aria-describedby="{{ id }}-desc"
			aria-setsize="{{ paginator.total }}" aria-posinset={{ post_num + loop.index }}>
			<header>
				<h2 itemprop="headline" id="{{ id }}-title">
					<a itemprop="url" href="{{ post | url }}">
						{{ article_title(post) }}
					</a>
				</h2>

				{% block post_header %}
				{% endblock post_header %}
			</header>

			<div id="{{ id }}-desc">
				{{ excerpt }}
			</div>

			{% if (excerpt | string) != (post.body | string) %}
				<a href="{{ post | url }}" class="continue-reading">Continue reading</a>
			{% endif %}
		</article>
	{%- endfor %}

	{% if this.pagination and this.pagination.pages > 1 %}
		{% include "includes/pagination.html" %}
	{% endif %}
</div>
{% endblock content %}
