{% extends "base.html" %}

<div aria-labelledby="archive-title" id="page-archive" role="feed">
	<header>
		<h1 id="archive-title">
			{% if layout.nicename_lookup and page.autopages %}
				{%
					include nicename_title.html
					kind=layout.nicename_lookup
					slug=page.autopages.display_name
					title=page.title
				%}
			{% else %}
				{{ page.title }}
			{% endif %}
		</h1>

		{{ content }}
	</header>

	{% set post_num = paginator.page | minus: 1 | times: paginator.per_page %}

	{% for post in paginator.posts %}
		{% set id = post.id | create_id %}
		<article
			itemscope itemtype="https://schema.org/{% if page.in_blog %}BlogPosting{% else %}Article{% endif %}"
			tabindex="0" id="{{ id }}" class="archive-item"
			aria-labelledby="{{ id }}-title" aria-describedby="{{ id }}-desc"
			aria-setsize="{{ paginator.total_posts }}" aria-posinset={{ post_num | plus: forloop.index }}>
			<header>
				<h2 itemprop="headline" id="{{ id }}-title">
					<a itemprop="url" href="{{ post.url | absolute_url }}">
						{% include "includes/article_title.html" %}
					</a>
				</h2>

				{% include "includes/tags.html" %}
			</header>

			<div id="{{ id }}-desc">
				{% unless post.excerpt contains '<p>' %}<p>{% endunless -%}
				{{ post.excerpt }}
				{%- unless post.excerpt contains '</p>' %}</p>{% endunless %}
			</div>

			{% if post.excerpt != post.content %}
				<a href="{{ post.url | absolute_url }}" class="continue-reading">Continue reading</a>
			{% endif %}
		</article>
	{% endfor %}

	{% if paginator.page_trail %}
		{% include "includes/pagination.html" %}
	{% endif %}
</div>
