<!DOCTYPE html>
<html lang="en-GB">
<head>
	<meta charset="utf-8">
	<title>{% include "includes/title.html" %}</title>

	<link href="{{ '/favicon.ico' | asseturl }}" rel="icon">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- For browsers that support it, avoid the flash of white when the page loads -->
	<meta name="color-scheme" content="light dark">
	<!-- For browsers that don't support `color-scheme` but do support `prefers-color-scheme` (mostly safari) -->
	<style>@media(prefers-color-scheme:dark){html,body{background:black;color:white}}</style>
	<!-- Make the address bar teal in chrome & safari -->
	<meta name="theme-color" content="#038387">
	{% for file in ["modern-normalize-0.5.0.css" , "styles.scss.css" , "syntax.css"] -%}
		<link rel="stylesheet" type="text/css" href="{{ 'css/{}'.format(file) | asseturl }}">
	{% endfor %}
	{#- {% if page.in_blog %}
		{% feed_meta %}
	{% endif %} -#}
	{%- if not this.no_canonical %}
	<link rel="canonical" href="
	{%- if this.canonical_url -%}
		{{- this.canonical_url -}}
	{%- else -%}
		{{ this | url(external=true) }}
	{%- endif -%}
	">
	{%- endif %}
	{% if this.description -%}
		<meta name="description" content="{{ this.description }}">
	{% endif -%}
	<!-- Prevent firefox rendering the page without css -->
	<script> </script>
</head>

<body class="{{ this.layout }}">
	<main id="main">
		{%- block main -%}
		{%- block page_header_wrapper %}
			<header id="page-header">
				{% block page_header -%}
				{%- if this.show_breadcrumbs != false -%}
					{% include "includes/breadcrumbs.html" %}
				{%- endif -%}
				{%- endblock page_header -%}
			</header>
		{%- endblock page_header_wrapper -%}

		<section id="page-content">
			{%- block content %}{% endblock -%}
		</section>

		{%- include "includes/footer.html" -%}
		{%- endblock main -%}
	</main>
</body>

</html>
