<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% include "includes/title.html" %}</title>

	<link href="{{ "/favicon.ico" | asseturl }}" rel="icon">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<style>@media (prefers-color-scheme: dark){html,body{background: black;color:white}}</style>

	{% for file in ["modern-normalize-0.5.0.css" , "styles.scss.css" , "syntax.css"] %}
		<link rel="stylesheet" type="text/css" href="{{ "css/{}".format(file) | asseturl }}">
	{% endfor %}

	{# {% if page.in_blog %}
		{% feed_meta %}
	{% endif %} #}
	<link rel="canonical" href="
	{%- if this.canonical_url -%}
		{{- this.canonical_url -}}
	{%- else -%}
		{{ this | url }}
	{%- endif -%}
	">

	<!-- Prevent firefox rendering the page without css -->
	<script> </script>
</head>

<body class="{{ this.layout }}">
	<main id="main">
		{% block main %}
		{% include "includes/header.html" %}

		<section id="page-content">
			{% block content %}{% endblock %}
		</section>

		{% include "includes/footer.html" %}
		{% endblock main %}
	</main>
</body>

</html>
