{% extends "article.html" %}
{% from "macros/article.html" import article_pagination %}

{% block article_type -%}
	BlogPosting
{%- endblock article_type %}

{#% block post_header %}
	<!-- TODO: Date modified etc -->
	{% include "includes/tags.html" %}
	{% include "includes/tech.html" %}
{% endblock post_header %#}

{% block post_footer %}
	{{ article_pagination(
		this,
		collection_override="Posts",
		prev_prefix="Older: ",
		no_prev_text="No older posts",
		next_prefix="Newer: ",
		no_next_text="No newer posts"
	) }}
{% endblock post_footer %}
