{% extends "base.html" %}
{% block content %}
<h1>TODO - Blog Post ({{ this.title }})</h1>

{{ this.body }}

{% endblock content %}
{#
<article aria-labelledby="post-heading" itemscope itemtype="https://schema.org/BlogPosting">
	<header>
		<h1 itemprop="headline" id="post-heading">{% include "includes/article_title.html" %}</h1>
		<link rel="author" itemprop="author" href="{{ site.url }}"  />
		<!-- TODO: Date modified etc -->
		{% include "includes/tags.html" %}
		{% include "includes/tech.html" %}
	</header>

	<div itemprop="articleBody">
	{{ content }}
	</div>

	<footer id="post-footer">
		{%
			include article_pagination.html
			show_arrow=true
			prev_prefix="Older: "
			no_prev_text="No older posts"
			next_prefix="Newer: "
			no_next_text="No newer posts"
		%}
	</footer>
</article>
#}
