{% extends "base.html" %}

{% block content %}
<div itemscope itemtype="http://schema.org/Person">
	<h1 itemprop="name">{{ this.title }}</h1>
	<link href="{{ site.root | url(external=true) }}" itemprop="url">

    <div itemprop="description">
        {{ this.body }}
    </div>

    {% set projects = site.query("/projects").filter(F.featured == true).order_by("priority", "title") %}

        <dl id="projects">
            {% for project in projects %}
                <dt>
                    {#--#}
                    <a href="{{ project | url }}">
                        {{- project.title -}}
                    </a>
                    {#--#}
                </dt>
                <dd>
                    {{- project.blurb -}}
                </dd>
            {% endfor %}
        </dl>
</div>
{% endblock content %}
