---
layout: base
---
<article aria-labelledby="project-heading" itemscope itemtype="https://schema.org/Article">

<header id="project-header">
    <h1 id="project-heading" itemprop="headline">{{ page.title }}</h1>
    <p id="project-description" itemprop="abstract">{{ page.blurb }}</p>
    {% include links.html %}
    {% include tech.html %}
</header>

<div itemprop="articleBody">
{{ content }}
</div>

<footer id="project-footer">
    {%
        include article_pagination.html
        show_arrow=true
    %}
</footer>
