<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% include title.html %}</title>

	<link href="{{ "/favicon.ico" | relative_url }}" rel="icon">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<style>@media (prefers-color-scheme: dark){html,body{background: black;color:white}}</style>

	<link rel="stylesheet" href="{{ "/assets/css/modern-normalize-0.5.0.css" | relative_url }}" type="text/css">
	<link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}" type="text/css">
	<link rel="stylesheet" href="{{ "/assets/css/syntax.css" | relative_url }}" type="text/css">
	{% if page.in_blog %}
		{% feed_meta %}
	{% endif %}
	<link rel="canonical" href="
	{%- if page.canonical_url -%}
		{{- page.canonical_url -}}
	{%- else -%}
		{{ page.url | absolute_url | replace: "index.html", "" }}
	{%- endif -%}
	">

	<!-- Prevent firefox rendering the page without css -->
	<script> </script>
</head>

<body class="{{ page.layout }}">
	<main id="main">
		{% include header.html %}

		<section id="page-content">
			{{ content }}
		</section>

		{% include footer.html %}
	</main>
</body>

</html>
