---
layout: base
---

<header>
	<h1>{{ page.title }}</h1>

	{{ content }}
</header>

<ol id="full-archive">
{% for post in site.posts %}
	{% assign id = post.id | create_id %}
	{% assign category = post.categories | first %}
	<li
		id="{{ id }}"
		class="archive-short-item"
		data-date="{{post.date | date_to_xmlschema | escape}}"
		data-category="{{ category | escape }}"
	>
		<a href="{{ site.baseurl }}{{ post.url }}">
			{{ post.date  | date_to_string: "ordinal", "UK" }}
			-
			{%
				include nicename.html
				kind='cats'
				slug=category
			%}: {{ post.title | escape}}
		</a>
	</li>
{% endfor %}
</ol>
