---
layout: base
---

<div itemscope itemtype="http://schema.org/Person">
	<h1 itemprop="name">{{ page.title }}</h1>
	<link href="{{ site.url | absolute_url }}" itemprop="url">

    <div itemprop="description">
        {{ content }}
    </div>

    {% assign projects = site.projects | where: "featured", true | sort: "priority", "last" %}

    {% if projects %}
        <h2>My Projects</h2>
        <p>I tend to start
            <a href="{{ "/projects/" | absolute_url }}">a lot of projects</a>, even if I don't see them all to completion.
            <br>Here's a selection of ones I'm particularly proud of:
        </p>
        <dl id="projects">
            {% for project in projects %}
                <dt>
                    {{- "" -}}
                    <a href="{{ project.url | absolute_url }}">
                        {{- project.title -}}
                    </a>
                    {{- "" -}}
                </dt>
                <dd>
                    {{- project.blurb -}}
                </dd>
            {% endfor %}
        </dl>
    {% endif %}
</div>
